.btn-custom {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  line-height: 22px;
  width: 200px;
}

.btn-check {
  background: #00880f;
  color: #000000;
}
.btn-check:disabled {
  background: #53a55d;
  /* opacity: 0.26; */
  color: #000000;
}

.btn-waiting:disabled {
  background: #53a55d;
  /* opacity: 1 !important; */
}
